In [35]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [36]:
WEBSITE = "http://books.toscrape.com/"

In [37]:
html_content = requests.get(WEBSITE).text
#html_content

In [38]:
soup = BeautifulSoup(html_content)

In [39]:
side_categories = soup.find("ul", class_="nav nav-list")

list_items = side_categories.find_all("a")
#print(list_items)

cat_names = []
cat_links = []

for item in list_items:
    cat_names.append(item.text.strip())
    cat_links.append(item['href'])

In [40]:
df = pd.DataFrame({
    "category_name": cat_names,
    "category_link": cat_links
})

df

         category_name                                      category_link
0                Books              catalogue/category/books_1/index.html
1               Travel       catalogue/category/books/travel_2/index.html
2              Mystery      catalogue/category/books/mystery_3/index.html
3   Historical Fiction  catalogue/category/books/historical-fiction_4/...
4       Sequential Art  catalogue/category/books/sequential-art_5/inde...
5             Classics     catalogue/category/books/classics_6/index.html
6           Philosophy   catalogue/category/books/philosophy_7/index.html
7              Romance      catalogue/category/books/romance_8/index.html
8       Womens Fiction  catalogue/category/books/womens-fiction_9/inde...
9              Fiction     catalogue/category/books/fiction_10/index.html
10           Childrens   catalogue/category/books/childrens_11/index.html
11            Religion    catalogue/category/books/religion_12/index.html
12          Nonfiction  catalogue/category/books/nonfiction_13/index.html
13               Music       catalogue/category/books/music_14/index.html
14             Default     catalogue/category/books/default_15/index.html
15     Science Fiction  catalogue/category/books/science-fiction_16/in...
16    Sports and Games  catalogue/category/books/sports-and-games_17/i...
17       Add a comment  catalogue/category/books/add-a-comment_18/inde...
18             Fantasy     catalogue/category/books/fantasy_19/index.html
19           New Adult   catalogue/category/books/new-adult_20/index.html
20         Young Adult  catalogue/category/books/young-adult_21/index....
21             Science     catalogue/category/books/science_22/index.html
22              Poetry      catalogue/category/books/poetry_23/index.html
23          Paranormal  catalogue/category/books/paranormal_24/index.html
24                 Art         catalogue/category/books/art_25/index.html
25          Psychology  catalogue/category/books/psychology_26/index.html
26       Autobiography  catalogue/category/books/autobiography_27/inde...
27           Parenting   catalogue/category/books/parenting_28/index.html
28       Adult Fiction  catalogue/category/books/adult-fiction_29/inde...
29               Humor       catalogue/category/books/humor_30/index.html
30              Horror      catalogue/category/books/horror_31/index.html
31             History     catalogue/category/books/history_32/index.html
32      Food and Drink  catalogue/category/books/food-and-drink_33/ind...
33   Christian Fiction  catalogue/category/books/christian-fiction_34/...
34            Business    catalogue/category/books/business_35/index.html
35           Biography   catalogue/category/books/biography_36/index.html
36            Thriller    catalogue/category/books/thriller_37/index.html
37        Contemporary  catalogue/category/books/contemporary_38/index...
38        Spirituality  catalogue/category/books/spirituality_39/index...
39            Academic    catalogue/category/books/academic_40/index.html
40           Self Help   catalogue/category/books/self-help_41/index.html
41          Historical  catalogue/category/books/historical_42/index.html
42           Christian   catalogue/category/books/christian_43/index.html
43            Suspense    catalogue/category/books/suspense_44/index.html
44       Short Stories  catalogue/category/books/short-stories_45/inde...
45              Novels      catalogue/category/books/novels_46/index.html
46              Health      catalogue/category/books/health_47/index.html
47            Politics    catalogue/category/books/politics_48/index.html
48            Cultural    catalogue/category/books/cultural_49/index.html
49             Erotica     catalogue/category/books/erotica_50/index.html
50               Crime       catalogue/category/books/crime_51/index.html

In [41]:
ol_row = soup.find("ol", class_="row")

In [42]:
scraped_book_names = []
scraped_book_prices = []
Availability=[]
Ratings=[]
product_desc=[]


books = ol_row.find_all("li")

for book in books:
    try:
        name = book.find('h3').contents[0]['title']
        price = book.find('p', class_='price_color').text.strip()
        ratings = book.find('p').get('class')[1]
        availablity = book.find('div',class_ = 'product_price').find('p',class_ = 'instock availability').text
        linkt=book.find('div',class_='image_container').find_all('a')
        for i in linkt:
            product_desc.append("http://books.toscrape.com/"+i['href'])
        scraped_book_names.append(name)
        scraped_book_prices.append(price)
        Availability.append(ratings)
        Ratings.append(availablity)
        #product_desc.append(pd['href'])
    except Exception as e:
        print("Error")
        pass

In [45]:
#print(product_desc)

In [43]:
df = pd.DataFrame({
    "name": scraped_book_names,
    "price": scraped_book_prices
    
})

df.head()

                                    name    price
0                   A Light in the Attic  Â£51.77
1                     Tipping the Velvet  Â£53.74
2                             Soumission  Â£50.10
3                          Sharp Objects  Â£47.82
4  Sapiens: A Brief History of Humankind  Â£54.23

In [46]:
li_row = soup.find("li", class_="next")

In [47]:

def pages_link(n):
    WEBSITE = n
    html_content = requests.get(WEBSITE).text
    #print(html_content)
    soup = BeautifulSoup(html_content)
    ol_row = soup.find("ol", class_="row")

    books = ol_row.find_all("li")

    for book in books:
        try:
            name = book.find('h3').contents[0]['title']
            price = book.find('p', class_='price_color').text.strip()
            ratings = book.find('p').get('class')[1]
            availablity = book.find('div',class_ = 'product_price').find('p',class_ = 'instock availability').text
            
            linkt=book.find('div',class_='image_container').find_all('a')
            for i in linkt:
                product_desc.append("http://books.toscrape.com/catalogue/"+i['href'])
            scraped_book_names.append(name)
            scraped_book_prices.append(price)
            Availability.append(ratings)
            Ratings.append(availablity)
          
        except Exception as e:
            print("Error")
            pass

In [21]:
#print(product_desc)

In [48]:
pages_links=[]
for i in range(2,51):
    page="http://books.toscrape.com/"+"catalogue/page-"+str(i)+".html"
    pages_links.append(page)
for i in pages_links:
    pages_link(i)

In [ ]:
#print(scraped_book_names)

In [58]:
product_Description=[]

# UPC=[]
# Product_Type=[]
# Tax=[]
# Availability=[]
# Number_of_reviews=[]

for i in range(len(product_desc)):
    try:
        WEBSITE = product_desc[i]
        #print(WEBSITE)
        html_content = requests.get(WEBSITE).text
        #print(html_content)
        soup = BeautifulSoup(html_content)
        para= soup.find('div',class_ = 'content').find("article", class_="product_page").find("p",class_="").text
        product_Description.append(para)
        #print(product_Description)
    except:
        product_Description.append("NA")
        print(WEBSITE)
        continue

http://books.toscrape.com/catalogue/the-bridge-to-consciousness-im-writing-the-bridge-between-science-and-our-old-and-new-beliefs_840/index.html
http://books.toscrape.com/catalogue/alice-in-wonderland-alices-adventures-in-wonderland-1_5/index.html

In [69]:
print(len(product_desc))
print(len(product_Description))

1000
1000

In [70]:
df = pd.DataFrame({
    "name": scraped_book_names,
    "price": scraped_book_prices,
    "ratings":Ratings,
    "Availability":Availability,
    "Product Description":product_Description
   
})

df.head()

,name,price,ratings,Availability,Product Description
0,A Light in the Attic,Â£51.77,\n\n \n In stock\n \n,Three,It's hard to imagine a world without A Light i...
1,Tipping the Velvet,Â£53.74,\n\n \n In stock\n \n,One,"""Erotic and absorbing...Written with starling ..."
2,Soumission,Â£50.10,\n\n \n In stock\n \n,One,"Dans une France assez proche de la nÃ´tre, un ..."
3,Sharp Objects,Â£47.82,\n\n \n In stock\n \n,Four,"WICKED above her hipbone, GIRL across her hear..."
4,Sapiens: A Brief History of Humankind,Â£54.23,\n\n \n In stock\n \n,Five,From a renowned historian comes a groundbreaki...

In [71]:
df.shape

(1000, 5)

In [72]:
df.to_csv(r'scrap_data.csv')